@charset "utf-8";

.tabs .tab-control {display:flex;flex:1 1 auto}
.tabs .tab-control li > a {display:block;text-align:center;color:#fff;}
.tabs .tab-control li > a:hover {text-decoration: underline}
.tabs .tab-content {display:none;width:100%;max-width:1200px;margin:0 auto;}
.tabs .tab-content a {color:#fff;}
.tabs .tab-content.is-show {display:block}

.main-tab .tabs {background:#64543C}
.main-tab .tab-control {align-items: center;justify-content: center;width:100%;max-width:1200px;margin:0 auto;}
.main-tab .tab-control li {flex:1 1 0}
.main-tab .tab-control a {padding:20px;background:#64543C;color:#FFFFCC}
.main-tab .tab-control .is-active {box-shadow: 10px 10px 10px rgba(0,0,0,.1)}
.main-tab .tab-control .is-active a {background:#BCAB90}
.main-tab .tab-container {background:#BCAB90;min-height:458px;}
.main-tab .tab-content {padding:50px 0;}
.main-tab .col-wrap {display:flex;gap:10px;}
.main-tab .col-wrap .column {max-width:600px;width:100%;}
.main-tab .col-wrap .box {padding:20px;background:rgba(255,255,255,0.6);text-align:center}
.main-tab .col-wrap .box-title {color:#333;font-size:12px;line-height:18px;font-weight: 700;}
.main-tab .col-wrap .box-title + a {margin-top:10px;}
.main-tab .col-wrap .box a {display:block;background:#5A6378;color:#fff;font-size:12px;line-height:1;padding:5px;}
.main-tab .col-wrap + .col-wrap {margin-top:20px;}
.main-tab .icon-list {display:flex;flex-wrap: wrap;gap:10px;}
.main-tab .icon-list li{width:calc((100% - 10px )/ 2);}
.main-tab .icon-list li a {position:relative;display:flex;align-items:center;padding-left:60px;height:50px;}
.main-tab .icon-list li a:hover {color:#ffd600}
.main-tab .icon-list li i {position:absolute;top:0;left:0;width:50px;height:50px;border-radius: 50%;background-color:rgba(0,0,0,0.4);text-align:center;font-size:20px;line-height:50px;}
.main-tab .square-list {display:flex;flex-wrap:wrap;gap:10px;}
.main-tab .square-list li {position:relative;padding-left:14px;width:calc((100% - 20px) / 3);font-size:14px;}
.main-tab .square-list li::before {content:"";position:absolute;top:50%;left:0;width:4px;height:4px;transform:translateY(-50%);border-radius:4px;background: #fff}

.history-tab .tabs {margin-top:40px;}
.history-tab .tab-control {display:flex;align-items: center;justify-content: space-between}
.history-tab .tab-control li {flex:1 1 0;}
.history-tab .tab-control li a {display:block;padding:15px 10px;border-top:1px solid #ddd;border-left:1px solid #ddd;border-bottom:1px solid #ddd;color:#333;}
.history-tab .tab-control li:last-child a {border-right:1px solid #ddd}
.history-tab .tab-control li a:hover{text-decoration: none;}
.history-tab .tab-control .is-active a {background:#5A6378;color:#fff;}
.history-tab .tab-container {padding-top:40px}
