/* visual swiper */
.visual-area {position:relative;}
.visual-area .swiper .swiper-slide {position:relative;}
.visual-area .background {height:0;padding-top:45.25%;background-position:center bottom;background-size:cover;background-repeat: no-repeat;}
.visual-area .context-box {position:absolute;top:40%;transform: translateY(-50%);z-index:1;background:rgba(0,0,0,0.6);padding:40px;border-radius:20px;color:#fff;opacity:0}
.visual-area .context-box.left {left:20%;}
.visual-area .context-box.center {top:50%;left:50%;transform: translate(-50%,-50%)}
.visual-area .context-box.right {right:20%;}
.visual-area .context-box .title {font-size:40px;line-height:46px;font-weight:900;opacity:0;color:#f1d0a5}
.visual-area .context-box .desc {margin-top:6px;font-size:24px;line-height:30px;opacity:0}
.visual-area .swiper-slide-active .context-box.center {transform: translate(-50%,-50%)!important;}
.visual-area .swiper-slide-active .context-box {animation: slideRight .3s ease-out forwards;animation-delay: .3s}
.visual-area .swiper-slide-active .context-box .title{animation: slideUp .4s linear forwards;animation-delay: .6s}
.visual-area .swiper-slide-active .context-box .desc{animation: slideUp .4s linear forwards;animation-delay: 1s;}
.visual-area .swiper-button-prev,
.visual-area .swiper-button-next,
.visual-area .swiper-rtl .swiper-button-next,
.visual-area .swiper-rtl .swiper-button-prev {width:50px !important;height:50px !important;border-radius: 50%;font-size:20px;color:#fff;background:rgba(0,0,0,.3)}
.visual-area .swiper-button-prev:after, .swiper-button-next:after {color:#fff !important;font-size:20px !important;}
.visual-area .swiper-pagination {top:10px !important;left:auto !important;right:10px;bottom:auto !important;width:auto !important;}
.visual-area .swiper-pagination-clickable .swiper-pagination-bullet {width:24px;height:24px;border-radius: 0;}
.visual-area .swiper-pagination-bullet.swiper-pagination-bullet-active {background:#ab8a5e}
.visual-area .swiper-scrollbar {top:0 !important;width:100% !important;left:0 !important}
.visual-area .swiper-scrollbar .swiper-scrollbar-drag {background:#593419}
.visual-area .swiper-player {position:absolute;top:38px;right:14px;z-index:3;}
.visual-area .swiper-player button {width:24px;height:24px;background:#64543C;border:0;}

