.home .message-input-wrap {z-index:2;padding-left:20px;}
.home .message-input-wrap .title {color:#fff;font-size:16px;line-height:22px}
.home .message-input-wrap .input-button-field {margin-top:10px;}
.home .message-input-wrap .input-button-field input{width:100%;max-width:260px;}
.home .message-input-wrap .input-button-field button {background-color:#a765ff;color:#fff;font-weight:700;}
.home .message-input-wrap .input-button-field button:hover {transition: background-color .2s linear;background-color: #c090ff}

.home .consolation {position:relative;background: #370f71;}
.home .consolation > #canvas {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;opacity:.4}
.home .consolation .section-title {color:#fff;padding:80px 20px 30px}
.home .consolation .consolation-wrap {display:flex;flex-direction: column;gap:20px;}
.home .consolation .button-wrap {position:relative;left:auto;top:auto;transform: translate(0);text-align: center;order:2;z-index:1;padding-bottom:60px;}
.home .consolation .button-wrap > button {width:120px;height:40px;background:#1e0f35;border:0;box-shadow:10px 10px 10px rgba(0,0,0,.3);color:#fff;}
.home .consolation .circle-wrap {position:relative;width:400px;height:400px;margin:0 auto;overflow:hidden;}
.home .consolation .circle-wrap::before {content:"";position: absolute;top:0;left:0;width:100%;height:100%;background:url("../../images/bg/crystal-ball.png") center center/contain no-repeat;animation: turnLoop 100s linear infinite;opacity:.5;transition:opacity 1s ease-out}
.home .consolation .circle-wrap.is-ani::before {opacity:.8;transition:opacity 1s ease-in}
.home .consolation .msg-wrap {position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);z-index:2;max-width:240px;text-align:center;width:200px;height:200px;}
.home .consolation .msg-wrap .position-wrap {position:relative;width:100%;height:100%;display:flex;align-items: center;justify-content: center;}
.home .consolation .msg-wrap .msg{display:block;text-align:center;font-weight:700;letter-spacing: -0.025em;padding:20px;font-size:13px;transition:transform .1s ease-in;animation: slideScaleUp .3s ease-in forwards;color:#380e70;word-break: keep-all;}
.home .consolation .msg-wrap .msg.is-hide {animation:scaleHide 1s ease-out forwards}


@keyframes turnLoop {
    to{
        transform: rotate(720deg);
    }
    from {
        transform: rotate(0deg);
    }
}
@keyframes slideScaleUp {
    to {
        opacity:1;
        transform:translateY(0) scale(1.4);
    }
    from {
        opacity:0;
        transform:translateY(100%) scale(1);
    }
}
@keyframes scaleHide {
    to {
        transform: scale(0);
    }
    from {
        transform: scale(1);
    }
}

@media screen and (max-width:1023px){
}

@media screen and (max-width:768px){
    .consolation .post-board {padding:0;height:300px;order:1}
}

@media screen and (max-width:480px){
    .consolation .circle-wrap {width:100%;min-width:240px;max-width:440px;height:100%;min-height:240px;max-height:440px;}

}

@media screen and (max-width:320px) {

}


