/*.header {*/
/*    position:fixed;*/
/*    top:0;*/
/*    left:0;*/
/*    width:100%;*/
/*    background:rgba(0,0,0,.2);*/
/*    z-index:2;*/
/*}*/
.header {
    background: #4c4c4c;
    transition: background-color .3s ease-in;
}
.header > .inner {
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
}

.header > .inner .gnb-list,
.header > .inner .util-list {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.header > .inner .gnb-list a {
    font-weight:700;
    padding:20px 0;
    color:#fff;
}
.header .gnb-list a.is-active {
    position:relative;
    display:block;
    color: #ffb600
}
.header .gnb-list a.is-active::before {
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    background: #ffb600;
}
.header .gnb-list.is-hide,
.header .util-list.is-hide{
    display:none;
}
.header.is-fixed {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:3;
    background:rgba(0,0,0,.4);
    transition: background-color .3s ease-in;
}
.header.move-in {
    animation: moveIn 0.3s ease-in;
}
.header .m-btn-group {
    display:none;
    font-size:0;
}
.header button {
    border:0;
    background:transparent;
    max-width:50px;
    padding:4px;
    cursor: pointer;
}
.header button img {
    display:block;
    width:100%;
    max-width:100%;
}
.header .m-btn-group.is-show {
    display:block;
}

@keyframes moveIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

}
