.btn {display:inline-block;vertical-align: top;height:40px;font-size:14px;font-weight:700;background:#fff;color:#593419;border:2px solid #593419;cursor:pointer;}
a.btn {text-align:center;border:2px solid #593419;line-height:40px;padding:0 10px}
.btn.bg-primary {background:#593419;color:#fff;}
.btn.bg-primary:hover {background: #734321}
.size-wide {display:block;width:100%;}

@keyframes slideUp {
    to {
        opacity:1;
        transform: translateY(0);
    }
    from {
        opacity:0;
        transform: translateY(100%);
    }
}

@keyframes slideRight {
    to {
        opacity:1;
        transform: translateX(0);
    }
    from {
        opacity:0;
        transform: translateX(100%);
    }
}

@keyframes scaleBig {
    to {
        transform: scale3d(1.1,1.1,1.1);
    }
    from {
        transform: scale3d(1,1,1);
    }
}